<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>914713153967-j1lasda6ca3apahkl86u6ul4ndhnob4a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.914713153967-j1lasda6ca3apahkl86u6ul4ndhnob4a</string>
	<key>API_KEY</key>
	<string>AIzaSyBjasF-oGPqA4NZBMZHrsFc8BNWIqGkIkk</string>
	<key>GCM_SENDER_ID</key>
	<string>914713153967</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.storeApp</string>
	<key>PROJECT_ID</key>
	<string>store-app-clean-arch</string>
	<key>STORAGE_BUCKET</key>
	<string>store-app-clean-arch.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:914713153967:ios:8e020a2a99428a742f5f5a</string>
</dict>
</plist>